@charset "UTF-8";
/*
    em HTML é id = em CSS é #
    em HTML é class = em CSS é .
*/

body {
    background-color: rgb(231, 183, 231);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
    color: rgb(132, 104, 132);
    font-style: italic;
}
h1#principal {
    color: whitesmoke;
    text-align: center;
    font-style: italic;
    background-color: rgb(74, 58, 74);
}
h2 {
    color: rgb(74, 58, 74);
}
.basico {
    color:yellow;
}
.intermediario {
    color:yellowgreen;
}
.avancado {
    color:aqua;
}
.destaque {
    background-color: rgba(210, 105, 30, 0.364);
}